[Desktop Entry]
Name=Slicer
Comment=3D Slicer
Exec=/home/docker/slicer/Slicer ${SLICER_ARGUMENTS}
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/home/docker/slicer/slicer.png
Categories=Utilities;
